<h2>{{collection.name}}</h2>
<h4>By {{collection.user.email}}</h4>
<p>{{collection.description}}</p>

   {{#each collection.links as |link|}}

       {{link-collection/link link=link
                              delete='deleteLink'}}

   {{/each}}

{{new-link-form createLink='createLink' collection=collection}}
